* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

main {
    width: 90vw;
    margin: auto;
}


.imagenesProductos {
    width: 100%;
}

.formasdepago {
    width: 100%;
}

.headerprincipal {
    background-color: #EAC926;
    padding: 5px;
    width: 100%;

}

.selectores {
    display: none;
}



p {
    font-size: 12px;
}

li a {
    font-size: 12px;
    text-decoration: none;
}

li {
    text-decoration: none;
}

.precios {
    width: 30%;
    font-size: x-large;

}

.descuentos {
    font-size: 16px;
    width: 70%;
    color: rgb(4, 157, 4);
}

.descripcion {
    font-size: 16px;
}

.burger-menu {
    color: white;
    background-color: blue;
    margin: auto;
    width: 25px;
    border-radius: 5px;


}

.fas {
    width: 25px;
    margin: auto;
}


#compraencuotas {
    width: 100%;
    margin-bottom: 10px;
}

.busqueda {
    width: 80%;
    height: 100%;
}

article {
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    align-items: center;
    width: 100%;



}



section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;




}

.fa-solid {}

.boton {
    width: 10%;
    height: 100%;
}







img.logo {
    width: 50%;
}

.imgybuscador {
    display: flex;
    height: 10vh;
    width: 80%;


}

.detalles {
    margin-top: 20px;
    text-align: center;
}

.copi {
    margin-top: 30px;
    text-align: center;
}

.detalles i {
    font-size: 2em;
}







.descripcion {
    display: none;
}

.baner {
    width: 100%;
}

#barraPrincipal {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.articuloultimavisita {
    width: 100%;
    align-items: center;
    justify-content: center;

}

.articulodeoferta {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.precioydescuento{
    display: flex;
    flex-wrap: wrap;
}















@media (min-width: 480px) {
    
    .baner {
        display: block;

        width: 100%;

    }

    .articuloultimavisita{
        width: 40%;
    }

    


}

@media (min-width: 768px) {
    section {
        justify-content: space-around;
    }

    

    .descripcion {
        display: block;
    }

    .descuentos {
        display: block;
        width: 70%;
        padding: 0;
        font-size: small
        ;
    }

    .precios {
        width: 30%;
        margin-right: 0%;
        font-size: 100%;

    }

    .selectores {
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .burger-menu {
        display: none;
    }

    section {

        display: flex;
        justify-content: center;
        align-items: center;
    }

  

    .articulodeoferta {
        width: 25%;
    }

    .precioydescuento {
        display: flex;
        flex-wrap: wrap;


    }

    footer {
        margin-top: 30px;
        margin-bottom: 15px;
    }



}



