* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ------------header------------ */

.main-header {
    background-color: #EAC326;
    padding: 20px;
}

.logo {
    width: 40%;
}
.busqueda{
    width: 50%;
    position: relative;
    

    
}
.boton-busqueda{
    
    text-align: center;
    width: 15%;


}
.fa-magnifying-glass{
    text-align: center;
    align-items: center;
    font-size: 100%;
}

.entero-busqueda{
    height: 10%;
}

.copy-header{
    font-size: 100%;
    width: 100%;
    text-align: center;
}

.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
.imgybusqueda{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}
.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    
}
.busqueda{
    height: 70%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 70%;
}
.boton-busqueda{
    height: 70%;
    align-items: center;
    margin-top: 5%;
    
}
.busquedayboton{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;


}



/* ------------header------------ */


/* ------------main------------ */
.baner{
    display: none;
}
.main-h3{
    width: 100%;
    text-align: center;
}
.main-h3 h3{
    font-weight: bold;
}
.imagenesProductos{
    width: 100%;
}
.descripcion{
    display: none;
}
.precioydescuento{
    display: flex;
    text-align: center;
    align-items: center;
}
.precios{
    width: 30%;
    font-size: 24px;
}

.descuentos{
    width: 70%;
    font-size: 16px;
    color: green;
   
}
/* ------------main------------ */


/* ------------footer------------ */
.detalles{
    text-align: center;
}
.cienxcien{
    width: 100%;
}
.div-copi{
    text-align: center;
}

footer{
    margin: 15px 0;
}
/* ------------footer------------ */


/* ------------formulario register------------ */
.form-register{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.div-form{
    margin: 20px;
}
.div-form input{
    margin: 5px 0;
    border-radius: 3px;
    border: none;
    font-weight: 400;
    padding: 5px;
}


/* ------------formulario register------------ */



@media (min-width: 480px){

    /*----------main-------- */
    .articulos-main{
        display: inline-flex;
        flex-wrap: wrap;
    }
    .articulodeoferta{
        
        width: 50%;
    }
   
    /*----------main-------- */


}

@media (min-width: 768px) {
    /* ------------header------------ */
    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        
    }
    .copy-header{
        width: 100%;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .imgybusqueda{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .imgybusqueda .busqueda{
       align-items: center;
       justify-content: center;
    }
    .busqueda{
        height: 50%;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        
    }
    .boton-busqueda{
        height: 50%;
        align-items: center;
        margin-top: 5%;
        width: 10%;
    }
    .busquedayboton{
        width: 100%;
        text-align: center;
        align-items: center;
    }
/* ------------header------------ */
/*----------main-------- */
.precioydescuento{
    display: flex;
    justify-content: space-between;
}

.precios{
    font-size: 20px;
}
.descuentos{
    width: 50%;
}
.descripcion{
    display: block;
}
.articulos-main{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.articulodeoferta:hover{
    box-shadow: 0px 3px 10px black;
}
.articulodeoferta{
    
    width: 23%;
    text-align: center;
}

/*----------footer-------- */
footer{
    margin-top: 30px;
}
/*----------footer-------- */


}